<nav class="navbar">
  <div class="navbar-container">
    <%= link_to 'Home', root_path, class: 'navbar-link' %>
    <%= link_to 'About', about_path, class: 'navbar-link' %>
    <%= link_to 'Contact', contact_path, class: 'navbar-link' %>
    <!-- Add other links as needed -->
  </div>
</nav>
